@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif; /* Utilisation de la police Work Sans pour tous les éléments */
}

h1 {
    font-size: 40px;
    color: #13a7b4;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    table-layout: fixed;
}

th, td {
    word-wrap: break-word;
}

th {
    background-color:#13a7b4;
    color: white;
    font-size: 20px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td a {
    color: #13a7b4;
    text-decoration: none;
}

td a:hover {
    color: #a02f03;
}

.email-column {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
form {
    display: inline;
}
